*{
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
}

body{
    padding: 20px;
}

a,
a:visited{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: lightblue;
}

button{
    cursor: pointer;
}