<h2 class="center">Customer List</h2>

<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Details</th>
    </tr>
    <tr *ngFor = "let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.phone}}</td>
        <td><a href="/detail/{{customer.id}}">Details</a></td>
    </tr>
</table>